@import "tailwindcss";
body{
  font-family: 'Poppins', sans-serif;
  cursor: none;
}
h1,h2{
  font-family: 'Roboto', sans-serif;
}
@layer utilities{
  .gradient{
    background: linear-gradient(-45deg ,#302b63 , #00bf8f, #1cd3d2);
  }
}